h2.form-title {
    margin-bottom: 0px;
    color: #36c;
}

body {
    word-break: break-word;
}

h6.form-subtitle {
    margin-bottom: 32px;
    color: #777;
    line-height: 1.5em;
    text-align: justify;
}

.navbar-brand {
    font-weight: bold;
    color: yellow !important;
}
.link {
    cursor: pointer
}
table {
    table-layout: fixed;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #337ab7;
}
::-webkit-scrollbar-thumb:hover {
    background: #286090;
}